<div class="container padding">
  <div class="text-center">
  <h2>Make your choice</h2>
    <form action="/answer" method="get">
      <input type="text" name="query" placeholder="">
      <button type="submit" class="btn btn-primary">Something to say ?</button>
    </form>
  </div>
</div>
